/* nav bar */
nav {
  position: sticky;
}
nav ul {
    border-style:groove;
    border-color: 	#ff8007;
    border-radius: 70px;
    background-color: 	#ffb404;
    list-style-type: none;
    padding: 25px;
    margin: 20px;
    box-shadow:	#a78400;
  }


  nav ul li {
    display: inline;
    margin: 0 40px;
  }
  nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 14px;
    padding: 15px;
    opacity: .8;
    transition: .6s;
  }

  nav ul li a:hover {
    
    background-color:	#ff3902;
    font-family: 'Lucida Sans';
    border-style: dashed;
    border-radius: 20px;
    font-style: italic;
    font-size: 15px;
    /* code for opactiy (not color) transition paraphrased from stackoverflow */
    opacity: 1.0;
    color: #b1bfde;
    transition: opacity .6s ease-in-out;
                  -moz-transition: opacity .6s ease-in-out;
                  -webkit-transition: opacity .6s ease-in-out;
    transition: .6s;
  }

  .active {
    color:rgb(255, 255, 255);
    font-weight: bold;

  }

  /* symantics */

  body {
    font-family: Arial, sans-serif;
    margin: 10;
    padding: 10;
    background-color:	#05badd;
    color: white;
  }
  header {
    padding: 40px;
    text-align: center;
  }

  main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
  }

  /* miscallaneous classes, grid classes etc*/
  h1 {
    color: 	#ff3902;
    background:	#ffb404;
    display: inline-block;
    padding: 10px 20px;
    font-family: "jumble", sans-serif;
    font-weight: 400;
    font-style: normal;
    border-radius: 15px;
  }

  h2 {
    color:#ff3902;
    background:	#ffb404;
    display: inline-block;
    padding: 10px 20px;
    font-family: "jumble", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    border-radius: 15px;}
  
  .image_grid {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #333;
    padding: 20px;
  }
  .image_grid img {
    max-width: 100%;
    height: auto;
  }
  .text_grid {
    border-style:groove;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    border-color: #ff3902;
    padding: auto;
    border-radius: 25px;
  }


  /* media display code */
  
  /* code paraphrased from reddit */
  
  @media (min-width: 768px) {
    main {
        grid-template-columns: repeat(2, 1fr);
    }
  }
  
/* code that fits main page image */

  /* taken from open stax */
  .fit {
    max-width: 99%;
    max-height: 99%;
  }
