.forum-row {
    text-align: left;
    padding: 20px;
    gap: 5px;
}

.forum-content {
    background-color: aqua;
    padding: 20px;
    gap: 5px;
    font-stretch: condensed;
}

.primary-background {
    background-color: #05badd;
}

button {
    background-color: #ff3902;
}

button:hover {
    background-color: #ff8007;
  }