/* ------------------- GALLERY PAGE CSS ------------------ */
/* STYLING THE PHOTO GALLERY - learned from w3schools: https://www.w3schools.com/css/css3_flexbox_responsive.asp */
.gallery_row { /*using flexboxes */
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns with images that sits next to each other */
.gallery_column {
  flex: 24%;
  max-width: 25%;
  padding: 0 3px;
}
  
/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
  .gallery_column {
    flex: 1 1 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .gallery_column {
    flex: 100%;
    max-width: 100%;
  }
}

/* styling the images themselves */
.gallery_column img {
  margin-top: 8px;
  vertical-align: middle;
  border-radius: 5px;
}

/* making the image slightly opaque when hovered on */
.gallery_column img:hover {
  opacity: 75%;
}

/* styling the image descriptions */
.desc {
  padding: 15px;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  color: black;
}
